* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
li {
  line-height: 2.5rem;
  font-size: 1.5rem;
}
a:any-link {
  color: #333;
  cursor: pointer;
  transition: all 0.17s ease-in-out;
}
footer {
  align-self: center;
}
