* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.container {
  margin-bottom: 2rem;
}
.c2 {
  width: 30vw;
  text-align: center;
  line-height: 2;
  border: 1px solid rgb(110, 176, 243);
}
.title {
  background: rgb(1, 100, 200);
  text-align: center;
  padding: 10px;
  color: #fff;
}
.inputbox {
  margin: 20px;
}
.inputbox input {
  outline: none;
  width: 20vw;
  height: 24px;
  margin: 0 0 5px 0;
  padding: 2px 5px;
  background: rgb(235, 243, 245);
  border-radius: 5px;
  padding: 5px;
}
.input label {
  margin-right: 5px;
  width: 70px;
  /* display: inline-block; */
}
.inputbox button {
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background: dodgerblue;
  color: #fff;
  transition: all 0.11s ease-in-out;
  /* display: inline-block; */
}
.inputbox button:hover {
    opacity: 0.6;
}
