#table {
  display: flex;
  flex-direction: column;
}

/* || TABLE STYLES || */
table {
  border-collapse: collapse;
}
tr,
td,
th {
  border: 1px solid var(--black);
  padding: 0.4rem;
  text-align: center;
}
th:nth-child(1) {
  padding: 0.4rem 0px;
}
td:nth-child(1) {
  padding: 0.2rem 0;
}

@media only screen and (max-width: 620px) {
  tr,
  td,
  th,
  td:nth-child(1),
  th:nth-child(1) {
    padding: 0.1rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {
  tr,
  td,
  th,
  td:nth-child(1),
  th:nth-child(1) {
    padding: 0;
    margin: 0;
    font-size: 0.5rem;
  }
}
