section {
  margin: 5rem 0;
}

.wrap1__menu li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

.wrap1__menu li::before {
  content: "|";
  padding-right: 10px;
}

.wrap1__menu li:first-child::before {
  display: none;
}

.wrap2__menu li {
  list-style: none;
  margin: 6px;
}
.wrap2__menu__item a:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 25px;
  border-radius: 100%;
  background-color: green;
  margin-right: 5px;
  vertical-align: middle;
}

.wrap2__menu__item a {
  text-decoration: none;
}
