.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.aqua {
  color: aqua;
}
.aliceblue {
  color: aliceblue;
}
.blueviolet {
  color: blueviolet;
}
.cornflowerblue {
  color: cornflowerblue;
}
.deeppink {
  color: deeppink;
}
