.text-red {
  color: red;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
}
.text-red button {
  color: inherit;
  cursor: pointer;
  border: 1px solid red;
  padding: 10px 20px;
  transition: all 0.16s ease-in-out;
  font-weight: 600;
  border-radius: 6px;
}
.text-red button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: red;
}

.GI_container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GI_container h1 {
  color: green;
}
.GI__items {
  border: 1px solid green;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
}
.GI__item {
  display: flex;
  margin: 5px 0;
}
.GI__item span {
  margin-right: 5px;
  color: green;
  font-size: 2rem;
}
.GI__input {
  border: none;
  outline: none;
  font: inherit;
  background: #ededed;
  border-radius: 5px;
  color: green;
  padding: 0 5px;
  height: 40px;
  width: 100%;
  margin: 5px 0;
}
.GI__input::placeholder {
  color: rgba(0, 128, 0, 0.688);
}
.GI__btns {
  border-top: 1px solid green;
  margin-top: 1rem;
  padding: 0 10px;
}
.GI__btn {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 10px 0 10px 0;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.597);
  color: green;
}
.GI__btn:hover {
  color: #fff;
  background: green;
}
.GI__cancel {
  border-radius: 0 10px 0 10px;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.597);
  color: red;
}
.GI__cancel:hover {
  color: #fff;
  background: red;
}
.GI__item input[type="number"]::-webkit-inner-spin-button,
.GI__item input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
