.container1 .box {
  width: 200px;
  height: 200px;
  background-color: pink;
  margin: 10px 5px 5px 50px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.container1 .box1:hover {
  transform: translate(90px, 90px);
  background-color: red;
}
.container1 .box2:hover {
  transform: rotate(50deg);
  background-color: aqua;
}
.container1 .box3:hover {
  transform: skew(50deg, 30deg);
  background-color: yellow;
}
.container1 .box4:hover {
    transform: scale(1.2) rotate(180deg) translate(-40px, -40px);
    background-color: rgb(51, 102, 153);
}

.container1 p {
  background: red;
  margin: 20px;
  width: 500px;
  height: 50px;
  color: silver;
}
.container1 #one {
  opacity: 0.1;
}
.container1 #three {
  opacity: 0.3;
}
.container1 #five {
  opacity: 0.5;
}
.container1 #seven {
  opacity: 0.7;
}
.container1 #nine {
  opacity: 0.9;
}
